aside{
   position: fixed;
   top: 0;
   left: 0;
   width: 30rem;
   max-width: 80%;
   height: 100vh;
   background: lightblue;
   box-shadow: 0 2px 8px #ccc;
   left: -100%;
   transition: left 0.2s ease-in-out;
}

:host([open]) aside{
 left: 0;
}
:host .close{
    position: absolute;
    right:0;
    top: 0;
    font-size: 1.5rem;
}
#tabs{
    display: flex;
    justify-content: center;
    width: 100%;
    margin:  1rem 0;

}

#tabs button{
    width: 30%;
    background: white;
    color: black;
    text-align: center;
    border: 1px solid black;
    font: inherit;
    padding: 0.15rem 0; 
}
#tabs button.active,
#tabs button:hover,
#tabs button:active
{
    background: black;
    color: white;
}

#tabs button:focus{
    outline: none;
}

#contact-information{
    padding: 0.5rem;
}